@import "../../../common/styles/vars";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  z-index: 100;
}
.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $colorNeutral100;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 $colorNeutral300;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    cursor: default;
  }
}
.icon {
  display: flex;
  align-items: center;
  font-size: 1.25;
  margin-left: 1rem;
  background: none;
  border: none;
}
.main {
  margin-top: 1rem;
}
