@import "../../../../app/common/styles/vars";

.inputGroup {
  display: flex;
  justify-content: space-between;
  .inputItem:nth-child(even) {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
  .inputItem:last-child {
    margin-right: 0;
  }
}
