@import "../../../common/styles/vars";

.container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  gap: 2rem;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
}
.image {
  width: 100%;
  padding-top: 100%;
  background-color: $colorNeutral150;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
