@import "../../../common/styles/vars";

.searchTags {
  // margin: 2rem;
  // display: flex;
  // align-items: center;
  // width: calc(100% - 2rem);
  // overflow: hidden;
  // & > div {
  //   margin-left: 1rem;
  //   &:first-of-type {
  //     margin-left: 0;
  //     width: 33%;
  //   }
  //   &:last-of-type {
  //     width: 66%;
  //   }
  // }
}

.item {
  border: 1px solid $colorNeutral200;
  border-radius: $borderRadius100;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: $transition100;
  &:hover {
    box-shadow: 0 0 0.5rem $colorNeutral200;
  }
  .image {
    width: 100%;
    padding-top: 100%;
    background-color: $colorNeutral150;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .main {
    width: calc(100% - 2rem);
    padding: 1rem;
    .label {
      text-align: center;
    }
    .info {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      color: $colorNeutral600;
      .action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .rating {
          display: flex;
          align-items: center;
        }
        .favorite {
          margin-top: 0.75rem;
          display: flex;
          align-items: center;
        }
        span {
          margin-left: 0.25rem;
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .discount {
          font-style: italic;
          display: flex;
          align-items: center;
          color: $colorNeutral600;
          font-size: 1rem;
          span {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 0.5rem;
            &::before {
              content: "";
              width: 100%;
              height: 2px;
              background: $colorNeutral600;
              position: absolute;
            }
          }
          div {
            background: $colorErrorSecondary;
            color: $colorErrorPrimary;
            padding: 0.5rem;
            font-size: 0.8rem;
            border-radius: 1rem;
          }
        }
        .regular {
          display: flex;
          align-items: center;
          font-weight: bold;
          color: $colorNeutral800;
        }
      }
    }
    .button {
      margin-top: 1rem;
    }
  }
}
a.item {
  .icon {
    font-size: 3rem;
  }
}
