@import "../../styles/_vars.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.logo {
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  align-items: center;
  a {
    color: $colorPrimary;
    &:hover {
      color: $colorTertiary;
    }
  }
  img {
    width: 2rem;
    height: auto;
  }
}
.navMenu {
  a {
    padding: 0.5rem;
  }
}
.userMenu {
  display: flex;
  a {
    background: $colorSecondary;
    border-radius: $borderRadius100;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    color: $colorPrimary;
    margin-left: 0.5rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:hover {
      color: $colorTertiary;
    }
    &.user {
      color: $colorNeutral100;
      background: $colorPrimary;
      &:hover {
        background: $colorTertiary;
      }
      .userArrow {
        display: flex;
        align-items: center;
        transform: rotate(-90deg);
      }
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
