@import "../../../common/styles/vars";

.container {
  position: relative;
}
.left {
  position: absolute;
  top: 0;
  left: 0.2%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, transparent 0%, $colorNeutral100 100%);
}
.right {
  position: absolute;
  top: 0;
  right: 0.2%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, transparent 0%, $colorNeutral100 100%);
  .rightButton {
    & > svg {
      transform: rotate(180deg);
    }
  }
}
.items {
  margin: 0 2rem;
}
.item {
  padding: 0 1rem;
  transition: $transition100;
  white-space: nowrap;
  p {
    padding: 2rem 0;
    position: relative;
    transition: $transition100;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $colorPrimary;
      border-bottom: 2px solid $colorPrimary;
    }
  }
  &.active {
    p {
      color: $colorPrimary;
      border-bottom: 2px solid $colorPrimary;
    }
  }
}
