@import "../../../common/styles/vars";

.container {
  position: relative;
}
.arrow {
  // position: absolute;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  .right,
  .left {
    border-radius: $borderRadius100;
    background: $colorNeutral150;
    color: $colorNeutral600;
    z-index: 2;
    font-size: 1.25rem;
    padding: 0.25rem;
  }
  .right {
    margin-left: 0.25rem;
    & > svg {
      transform: rotate(180deg);
    }
  }
}
.scroller {
  overflow: hidden;
  background-color: $colorNeutral150;
}
.items {
  position: relative;
  display: flex;
}
.item {
  padding: 0 1rem;
  transition: $transition100;
  white-space: nowrap;
  p {
    padding: 2rem 0;
    position: relative;
    transition: $transition100;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $colorPrimary;
      border-bottom: 2px solid $colorPrimary;
    }
  }
  &.active {
    p {
      color: $colorPrimary;
      border-bottom: 2px solid $colorPrimary;
    }
  }
}
