@import "../../../common/styles/vars";

.container {
  // position: relative;
  overflow: hidden;
}
.rightArrow,
.lightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  border-radius: $borderRadius100;
  background: $colorNeutral150;
  &:active {
    transform: scale(0.8) translateY(-50%);
  }
}
.rightArrow {
  right: 0;
  & > svg {
    transform: rotate(180deg);
  }
}
.lightArrow {
  left: 0;
}
.scroll {
  box-sizing: content-box;
  position: relative;
  margin: 2rem;
  display: flex;
  overflow: hidden;
  // gap: 1rem;
  // flex-wrap: nowrap;

  // -webkit-overflow-scrolling: touch;
  // scroll-direction: horizontal;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
  .item {
    // display: inline-block;
    padding: 0.5rem 1rem;
    background: $colorNeutral150;
    color: $colorNeutral800;
    font-size: 1rem;
    border-radius: 1rem;
    transition: $transition100;
    &:hover {
      background: $colorNeutral300;
      color: $colorNeutral900;
    }
  }
}
