@import "../../../common/styles/vars";

.container {
  position: relative;
  margin-top: 2rem;
}
.arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  .rightBackground,
  .leftBackground {
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .rightBackground {
    background: transparent;
    background: linear-gradient(270deg, $colorNeutral100 70%, transparent 100%);
    padding-left: 0.5rem;
  }
  .leftBackground {
    background: transparent;
    background: linear-gradient(90deg, $colorNeutral100 70%, transparent 100%);
    padding-right: 0.5rem;
  }
  .rightArrow,
  .lightArrow {
    border-radius: $borderRadius100;
    background: $colorNeutral150;
    color: $colorNeutral600;
    z-index: 2;
    font-size: 1.25rem;
    padding: 0.25rem;
  }
  .rightArrow {
    margin-left: 0.25rem;
    & > svg {
      transform: rotate(180deg);
    }
  }
}
.scrollContainer {
  overflow-x: hidden;
  margin: 0 2rem;
}
.scroll {
  position: relative;
  display: flex;
  gap: 0.5rem;
  transition: 1s;
  .item {
    white-space: nowrap;
    padding: 0.5rem 1rem;
    background: $colorNeutral150;
    color: $colorNeutral800;
    font-size: 1rem;
    border-radius: 1rem;
    transition: $transition100;
    &:hover {
      background: $colorNeutral300;
      color: $colorNeutral900;
    }
  }
}
