@import "../../../common/styles/vars";

.container {
  position: relative;
  color: $colorNeutral100;
  a {
    color: $colorNeutral100;
    &:hover {
      color: $colorPrimary;
    }
  }
  .main {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}
.social {
  display: flex;
  a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    &:active {
      transform: scale(0.9);
    }
    &.vkontakte {
      svg {
        font-size: 1.6rem;
      }
    }
    &.instagram {
      svg {
        font-size: 1.4rem;
      }
    }
  }
}
