@import "../../../common/styles/vars";

.container {
  background-color: $colorNeutral150;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  color: $colorNeutral100;
  a {
    color: $colorNeutral100;
    &:hover {
      color: $colorPrimary;
    }
  }
  .image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .filter {
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .main {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
  }
}
.social {
  display: flex;
  a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    &:active {
      transform: scale(0.9);
    }
    &.vkontakte {
      svg {
        font-size: 1.6rem;
      }
    }
    &.instagram {
      svg {
        font-size: 1.4rem;
      }
    }
  }
}
