@import "../../../styles/vars";

.container {
  background-color: $colorNeutral150;
  .image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}
