@import "../../../styles/vars";

.item {
  border: 1px solid $colorNeutral200;
  border-radius: $borderRadius100;
  overflow: hidden;
  transition: $transition100;
  width: 100%;
  padding-top: 110%;
  position: relative;
  @media screen and (max-width: 900px) {
    padding-top: 50%;
  }
  .body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 900px) {
      flex-direction: row;
    }
    .image {
      width: 100%;
      padding-top: 70%;
      background-color: $colorNeutral150;
      position: relative;
      transition: $transition200;
      @media screen and (max-width: 900px) {
        width: 50%;
        padding-top: 50%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: $transition100;
      }
      .icon {
        font-size: 3rem;
        color: $colorNeutral100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        .wave {
          // transform: ;
        }
      }
    }
    .main {
      width: 100%;
      padding-top: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      transition: $transition200;
      @media screen and (max-width: 900px) {
        width: 50%;
        padding-top: 50%;
      }
      .bodyMain {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - 2rem);
        padding: 1rem;
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .description {
          margin-top: 1rem;
          text-align: center;
        }
        .label {
          text-align: center;
        }
        .button {
          align-self: center;
          width: auto;
          margin-top: 1rem;
          opacity: 0;
          display: inline-flex;
          background: transparent;
          color: $colorPrimary;
          display: none;
          transform: scale(0.1);
          .iconButton {
            margin-left: 0.5rem;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &:hover {
    border: 1px solid $colorPrimary;
    box-shadow: 0 0 0.5rem $colorPrimary;
    .image {
      padding-top: 50%;
      .filter {
        background: rgba(0, 0, 0, 0.5);
      }
      .icon {
        opacity: 1;
      }
    }
    .main {
      padding-top: 60%;
      @media screen and (max-width: 900px) {
        padding-top: 50%;
      }
      .bodyMain {
        justify-content: space-between;
        @media screen and (max-width: 900px) {
          justify-content: space-around;
        }
        .button {
          display: inline-flex;
          animation: move $transition200 forwards;
          @media screen and (max-width: 900px) {
            display: none;
          }
        }
      }
    }
  }
}
a.item {
  .icon {
    font-size: 3rem;
  }
}

@keyframes move {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
