@import "../../../common/styles/vars";

.container {
  position: relative;
  color: $colorNeutral100;
  .main {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
    }
    .benefits {
      flex: 0 0 50%;
      display: grid;
      gap: 2rem;
      grid-template-areas:
        "A B"
        "C D";
      .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-of-type(1) {
          grid-area: A;
        }
        &:nth-of-type(2) {
          grid-area: B;
        }
        &:nth-of-type(3) {
          grid-area: C;
        }
        &:nth-of-type(4) {
          grid-area: D;
        }
        .icon {
          font-size: 3rem;
        }
        p {
          margin-top: 1rem;
          text-align: center;
        }
        @media screen and (max-width: 900px) {
          margin-top: 2rem;
        }
      }
    }
    .about {
      flex: 0 0 calc(50% - 2rem);
      display: flex;
      flex-direction: column;
      p {
        white-space: normal;
      }
    }
  }
}
.button {
  align-self: flex-end;
  width: auto;
  display: inline-flex;
  background: transparent;
  border: 1px solid $colorNeutral100;
  &:hover {
    border: 1px solid $colorPrimary;
  }
  .iconButton {
    margin-left: 0.5rem;
    transform: rotate(180deg);
  }
}
