.table {
  // display: table;
  width: 100%;
  border-collapse: collapse;
}
.row {
  // display: table-row;
}
.cell {
  // display: table-cell;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.header {
  // display: table-header-group;
}
.body {
  // display: table-row-group;
}
.footer {
  // display: table-footer-group;
}
