@import "../../../common/styles/vars";

.button {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: $borderRadius100;
  border: 1px solid $colorPrimary;
  background: $colorPrimary;
  color: $colorNeutral100;
  transition: $transition100;
  &:hover {
    transform: scale(1.025);
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 0.5rem $colorPrimary;
    transform: scale(1.025);
  }
  &:active {
    transform: scale(0.9);
  }
  &:disabled {
    transform: scale(1);
    cursor: default;
    color: $colorNeutral500;
    background: $colorNeutral150;
    box-shadow: none;
    border: none;
  }
  &.outline {
    border: 1px solid $colorPrimary;
    background: $colorNeutral100;
    color: $colorPrimary;
    &:hover,
    &:focus {
      border: 1px solid $colorPrimary;
      background: $colorPrimary;
      color: $colorNeutral100;
    }
    &:disabled {
      cursor: default;
      border: 1px solid $colorNeutral200;
      background: $colorNeutral100;
      color: $colorNeutral200;
      box-shadow: none;
    }
  }
}
