@import "../../../styles/vars";

.container {
  position: relative;
}
.scroller {
  overflow-x: scroll;
  position: relative;
}
.items {
  position: relative;
  display: flex;
  user-select: none;
  transition: all 0.2s;
  // transform: scale(0.98);
  cursor: pointer;
}
.drag {
  cursor: grabbing;
  // transform: scale(1);
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.invisible {
  visibility: hidden;
}
