@import "../../../styles/vars";

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $colorPrimary;
  transition: $transition100;
  &.scale {
    &:hover {
      transform: scale(1.1);
    }
  }
  &:hover,
  &:focus {
    color: $colorPrimary;
  }
  &:active {
    transform: scale(0.8);
  }
}

//  {
// font-size: 1rem;
// cursor: pointer;
// border: 1px solid $colorNeutral100;
// transition: $transition100;
// &:hover {
//   color: $colorPrimary;
// }
// &.button {
//   font-size: 1.25rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0.75rem;
//   border-radius: $borderRadius100;
//   border: 1px solid $colorNeutral100;
//   background: $colorPrimary;
//   color: $colorNeutral100;
//   transition: $transition100;
//   &:hover,
//   &:focus {
//     background: $colorPrimary;
//   }
//   &:disabled {
//     cursor: default;
//     color: $colorNeutral500;
//     background: $colorNeutral150;
//   }
//   &:focus {
//     transform: scale(0.9);
//   }
// }
// &.outline {
//   border: 1px solid $colorPrimary;
//   background: $colorNeutral100;
//   color: $colorPrimary;
//   &:hover,
//   &:focus {
//     border: 1px solid $colorPrimary;
//     background: $colorPrimary;
//     color: $colorNeutral100;
//   }
//   &:disabled {
//     cursor: default;
//     border: 1px solid $colorNeutral200;
//     background: $colorNeutral100;
//     color: $colorNeutral200;
//   }
// }
// }
