@import "../../../styles/vars";

.container {
  position: relative;
}
.placeholder {
  color: $colorNeutral300;
  pointer-events: none;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  transition: $transition100;
  transform-origin: 0 50%;
}
.activePlaceholder {
  transform: translateY(-1.5rem) translateX(0.5rem) scale(0.75);
  background: $colorNeutral100;
  padding: 0 0.5rem;
  color: $colorNeutral600;
}
.select {
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: $borderRadius100;
  &:focus ~ .placeholder {
    transform: translateY(-1.5rem) translateX(0.5rem) scale(0.75);
    background: $colorNeutral100;
    padding: 0 0.5rem;
  }
  &:focus ~ .placeholder {
    color: $colorNeutral800;
  }
  &:hover {
    border: 1px solid $colorNeutral600;
  }
  &:focus {
    outline: 1px solid $colorNeutral600;
  }
  padding-right: 2rem;
}
.error {
  margin: 0.25rem 0;
  font-size: 0.85rem;
  color: $colorErrorPrimary;
}
