@import "../../../styles/vars";

.container {
  position: relative;
}
.placeholder {
  color: $colorNeutral300;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: $transition100;
  transform-origin: 0 50%;
  // border: 1px solid greenyellow;
  font-size: 1.25rem;
}
.input {
  box-sizing: border-box;
  border: 1px solid $colorNeutral300;
  transition: $transition100;
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border-radius: $borderRadius100;
  display: flex;
  &:not(:placeholder-shown) {
    border: 1px solid $colorNeutral600;
  }
  &:not(:placeholder-shown) ~ .placeholder {
    color: $colorNeutral600;
  }
  &:focus ~ .placeholder,
  &:not(:placeholder-shown) ~ .placeholder {
    // transform: translateY(-100%) scale(0.75);
    transform: translateY(0%) scale(0.75);
    top: 0.5rem;
  }
  &:focus ~ .placeholder {
    color: $colorNeutral800;
  }
  &:focus {
    outline: 1px solid $colorNeutral600;
  }
  &:hover {
    border: 1px solid $colorNeutral600;
  }
  // &:-webkit-autofill,
  // &:-webkit-autofill:hover,
  // &:-webkit-autofill:focus,
  // &:-webkit-autofill:active {
  //   -webkit-box-shadow: 0 0 0 30px white inset !important;
  // }
}
.hint {
  margin: 0.25rem 0;
  font-size: 0.85rem;
  color: $colorErrorPrimary;
}
.error {
  background: $colorErrorSecondary;
}
